<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bashpound.marketplace.infra.mapper.MemberMapper">

	<resultMap type="bashpound.marketplace.domain.model.mybatis.Member" id="member">
		<id property="username" column="username"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="gender" column="gender"/>
		<result property="birth" column="birth"/>
		<result property="phone" column="phone"/>
		<result property="enrollDate" column="enrollDate"/>
		<result property="levels" column="levels"/>
		<result property="seller" column="is_seller"/>
		<result property="delFlag" column="delFlag"/>
		<result property="role" column="role"/>
		<result property="delDate" column="delDate"/>
	</resultMap>

    <select id="selectByUsername" resultMap="member">
    	select * from member where username = #{username}
    </select> 
    
</mapper>