
@import "~react-image-gallery/styles/scss/image-gallery.scss";

$tc1: #FF9C00;
$tc2: #37475A;
$tc3: #232F3E;
$tc4: #131A22;
$tc5: #131921;


#logo {
  width: 250px;
  margin: auto;
  padding-top: 50px;
}


.headerfooter-on{
  display: block;
}

.headerfooter-off {
  display: none;
}

header {
  padding: 0;
  position: relative;
  box-sizing: border-box;
}


section {
  background-color: white;
  width:80%;
  margin: auto;
  img {
    border:none;
  }
}


main { 
  background-color: #e9e9e9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aside {
  background-color: white;
  border: solid 1px;
  position: fixed;
  right:0;
}

footer {
  position: relative;
  bottom:0;
  width: 100%;
  text-align:center;
}


