@import 'base.scss';

* {
    margin:0;
    padding:0;
}

h5 {
    color:white;
}

#back-to-top{
    background: $tc2;
    padding: 20px;
    color: white;
    font-weight: 400;
    transition: 0.4s ease-in-out;

    &:hover{
        background: $tc2;
        box-shadow:inset 0 0 0 2000px rgba(117, 134, 172, 0.3);
        cursor: pointer;
        transition: 0.4s ease-in-out;
    }
}

#about {
    background: $tc3;
    padding: 40px;
}



#footest {
    background: $tc4;
    padding: 30px;
    color: white;
    ul li {
        display: inline-block;
        list-style-type: none;
        margin-right: 20px;
        a{
            color: white;
        }

        &:hover {
            color: rgb(255, 255, 255);
            text-shadow:1px 1px 10px #ffffff;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            -webkit-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }
    }

    
    
    
}

#footer {
    position: relative;
    bottom:0;
    width: 100%;
    text-align:center;
}
