@import 'base.scss';


#login-button {
  margin-top: 20px;
}


#image-wrapper{
  max-width: 400px;
  
  img {
    max-width: 100%;
    height: auto;
  }
}

.input-wrapper {
  padding-bottom: 5px;
}

.bp3-card {
    width: 400px;
    margin: 40px auto;

    h5 {
      color: crimson;
    }

    #register-button {
      margin-top:20px;
    }
}

input {
    width: 100%;
    text-align: left;
}


.divider {
  background: rgb(223,223,223);
  background: radial-gradient(circle, rgba(223,223,223,1) 0%, rgba(196,196,196,0) 100%);
}

.invalid {
  display: inline;
}

.valid {
  display: none;
}

.no-val {
  display: none;
}

.login-register{
  width: 100%;
}