 @import 'base.scss';

* {
    margin:0;
    padding:0;
}

#header {
    position: relative;
    top: 0;
    width:100%;
    display: true;
}

#under-bar {
    background: $tc2;
    h3 {
        color:white;
        text-align: right;
    }
    padding: 10px;
}

#upper-bar {
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
    background-color: $tc5;
}

#drawer {
    margin-top: auto;
    margin-bottom: auto;
}

.Logo {
    height: 40px;
}

.search-bar {
    width: 65%;
}

.shade {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
/* end: global style rules */

/* start: header styles */
header {
    padding: 0;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 0 0;
}

nav ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 0px;
}

nav ul li a {
    color: #eee;
    font-weight: 600;
}

nav ul li a:hover {
    color: #FFB320;
}

#login-register-button {
    background-color: #FFB320;
    color: #131313;
    border-radius: 20px;
    font-weight: 600;
}