 @import 'base.scss';

#header {
    position: relative;
    top: 0;
    width:100%;
}

#under-bar {
    background: $tc2;
    h3 {
        color:white;
        text-align: right;
    }
    padding: 10px;
}

#upper-bar {
    display: inline-flex;
    margin: auto;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    background-color: $tc5;
    &:focus {
        border: 1px solid;
    }

    .search-bar{
        width: 75%;
    }

    .search-bar-content{
        height: 100%;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0px 0 0;
    }

    nav ul li {
        display: inline-block;
        font-size: 1em;
        margin: 0 0px;
    }

    nav ul li a {
        color: #eee;
        font-weight: 500;
    }

    nav ul li a:hover {
        border: solid 1px white;
        text-decoration: none;
        
    }
}

#drawer {
    margin-top: auto;
    margin-bottom: auto;
}

.Logo {
    height: 40px;
}

.search-bar {
    width: 100%;
}

.shade {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
/* end: global style rules */

/* start: header styles */
header {
    padding: 0;
    position: relative;
    box-sizing: border-box;
}



#banner {
    * {
      color:white;
    }
    
    border: solid 1px rgba(255, 0, 0, .0);
    padding: 3px;
    margin-left: 5px;
    box-sizing: border-box;
    font-weight: 500;
  
    &:hover {
      border: solid 1px white;
      color: white;
      text-decoration: none;
    }
  }

#delivery-banner {
    padding: 0;
    margin: 0;
    display:inline-block;
}

.under-banner {
    display:inline-block;
}

.covid {
    position:relative;
    float:right;
    right: 0;
    padding-right: 10px;
}

.upper-bar-right {
    float: right;
}