<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bashpound.marketplace.infra.repository.MemberMapper">

	<resultMap type="bashpound.marketplace.domain.model.Member" id="memberResult">
		<id property="username" column="username" />
		<result property="emailAddress" column="email_address" />
		<result property="password" column="password" />
		<result property="gender" column="gender"/>
		<result property="birth" column="BIRTH" />
		<result property="phone" column="phone" />
		<result property="enrollDate" column="enrollDate" />
		<result property="seller" column="is_seller" />
		<result property="levels" column="levels" />
		<result property="delFlag" column="delFlag" />
		<result property="deleteDate" column="deleteDate" />
		<result property="role" column="role" />
	</resultMap>
	
	<select id="getNow" resultType="String" >
		select sysdate from dual
	</select>
	
	<select id="selectByUsername" resultMap="memberResult">
		select * from member where 
		<if test='username.contains("@")'>
		email_address = #{username}
		</if>
		<if test='!username.contains("@")'>
		username = #{username}
		</if>
	</select>
	
	<insert id="insert">
		insert into member (
		    username, email_address, password
		)values (
		    #{member.username}, #{member.emailAddress}, #{member.password}
		)
	</insert>
	
	<update id="update">
		update member set is_seller = 1 where username = #{username}
	</update>

</mapper>