<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bashpound.marketplace.infra.repository.ProductMapper">
	<resultMap id="productResultMap" type="bashpound.marketplace.domain.model.Product">
		<id property="id" column="prod_id"/>
		<result property="name" column="prod_name"/>
		<result property="thumbNail" column="prod_thumb_nail"/>
		<result property="regDate" column="prod_reg_date"/>
		<result property="stock" column="stock"/>
		<result property="price" column="price"/>
		<result property="options" column="options"/>
		<result property="category" column="category"/>
		<association property="seller" javaType="bashpound.marketplace.domain.model.Member"/>
		<collection property="purchases" resultMap="mPurchaseProdResultMap">
		</collection>
		<collection property="reviews" resultMap="reviewResultMap">
		</collection>
	</resultMap>
	<resultMap id="mPurchaseProdResultMap" type="bashpound.marketplace.domain.model.MapPurchaseProd" >
		<id property="id" column="mpp_id"/>
		<result property="productId" column="mpp_product_id"/>
		<result property="purchasesId" column="mpp_purchases_id"/>
		<result property="quantity" column="quantity"/>
	</resultMap>
	<resultMap id="reviewResultMap" type="bashpound.marketplace.domain.model.Review" >
		<id property="id" column="review_id"/>
		<result property="content" column="review_content"/>
		<result property="regDate" column="review_reg_date"/>
		<result property="score" column="score"/>
		<result property="thumbNail" column="review_thumb_nail"/>
	</resultMap>
	
	<insert id="productRegister" parameterType="product">
		<selectKey keyProperty="id" order="BEFORE" resultType="long">
			select nvl(max(prod_id), 0) + 1 from product
		</selectKey>
		insert into product (prod_id, prod_name, options, price, prod_reg_date, stock, prod_thumb_nail, member_username, category)
		 values (#{id}, #{name, jdbcType=VARCHAR}, #{options, jdbcType=VARCHAR}, #{price, jdbcType=INTEGER}, sysdate, #{stock, jdbcType=INTEGER},
		  #{thumbNail, jdbcType=VARCHAR}, #{seller.username, jdbcType=VARCHAR}, #{category, jdbcType=VARCHAR})
	</insert>
		
	<select id="listProductAll" resultMap="productResultMap">
		select * from product
	</select>
	
	<select id="searchProduct" parameterType="string" resultMap="productResultMap">
		select * from product where (category like '%' || #{category} || '%') and 
			(concat(prod_name, options) like '%' || #{key} || '%')
	</select>
	
	<select id="productDetail" parameterType="long" resultType="map">
		select options from product where prod_id = #{productId}
	</select>

</mapper>