<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bashpound.marketplace.infra.repository.PurchaseMapper">

	<resultMap type="bashpound.marketplace.domain.model.Purchase" id="purchaseResult">
		<id column="purchase_id" property="id"/>
		<result column="purchase_date" property="purchaseDate"/>
		<result column="arrive" property="arrive"/>
		<result column="is_purchased" property="purchased"/>
		<association property="member"  resultMap="bashpound.marketplace.infra.repository.MemberMapper.memberResult"/>
		<collection property="products" resultMap="bashpound.marketplace.infra.repository.ProductMapper.productResultMap"/>
	</resultMap>
	
	<insert id="insert">
		<selectKey order="BEFORE" keyProperty="purchase.id" keyColumn="purchase_id" resultType="Long">
			select nvl(max(purchase_id),0) +1 from purchase
		</selectKey>
		insert into purchase (purchase_id,purchase_username) values (#{purchase.id}, #{username})
	</insert>
	
</mapper>