@import './css/base.scss';

#index{

  display: flex;
  flex-direction: row;


  #app {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    #main {
      position: relative;
    }
  }
}

