@import './css/base.scss';

#index{

  display: flex;
  flex-direction: row;


  #app {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

    #main {
      position: relative;
    }
  }
  #cart {
    display: flex;
    flex-direction: column;
    position:relative;
    width: 5%;
    border-left: 1px solid $border;

    .display-on{
      display:flex;
    }
    
    .display-off{
      display:none;
    }
  }
}

