<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bashpound.marketplace.infra.mapper">

    <select id="selectById" resultType="city">
        SELECT ID
              ,NAME
          FROM MBTEST
         WHERE ID = #{id}
    </select>

    <select id="selectAll" resultType="city">
        SELECT ID
              ,NAME
          FROM MBTEST
    </select>

    <insert id="insert">
      INSERT INTO MBTEST (NAME)
      VALUES (#{name})
    </insert>

</mapper>